<%- include('./Dashboard/header.ejs'); %>
<div class="wrapper">
  <!-- Sidebar  -->
  <%- include('./Dashboard/sidebar.ejs'); %>

  <!-- content -->
  <%- include('table.ejs') %> 
</div>
<!-- end-content -->
</div>
<%- include('./Dashboard/footer.ejs'); %> 