<%- include('./Dashboard/header.ejs'); %>
<div class="wrapper">
  <!-- Sidebar  -->
  <%- include('./Dashboard/sidebar.ejs'); %>
  <%- include('table.ejs') %>
</div>
<!-- end-content -->
</div>
<%- include('./Dashboard/footer.ejs'); %>