<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/styles/manifest.json">
  <meta name="theme-color" content="#00897B">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Absen Online</title>
</head>

<body>
  <header>
    <% if(user){ %>
    <%- include('../navbar.ejs'); %>
    <% } else { %>
    <nav class="navbar navbar-expand-lg navbar-dark shadow">
      <div class="container">
        <a class="navbar-brand" href="#">Absen Online</a>
      </div>
    </nav>
    <% } %>
  </header>

  <main class="shape" role="main">
    <div class="container-fluid">